* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.blue-head {
 background-color: #33475B;
 width: 100%;
}

#hub-brands {
 margin-left: 80px;
 float: left;
 margin-top: 5px;
}

.clean:after {
 display: table;
 content: "";
 clear: both;
}

#hub-brands > img {
 width: 27px;
 height: 27px;
 display: inline-block;
}

.arrow {
 position: relative;
 top: 5px;
 left: 2px;
}

.arrow-width{
 width: 14px;
 position: relative;
 left: 8px;
}

.ul-restyle ul {
 display: inline-block;
}

.ul-restyle ul li {
 list-style-type: none;
 float: left;
}

#hub-brands ul li {
 margin-left: 20px;
 margin-bottom: 4px;
}


a[href="#"] {
 text-decoration: none;
 color: white;
}

#login {
 float: right;
 margin-right: 150px;
}

#img-login{
 border-right: 1px solid grey;
 padding-right: 25px;
 float: left;
}

#img-login > img {
 width: 14px;
 display: inline-block;
 margin: 11px;
}

#user-login{
 float:left;
}

#user-login > img{
 width: 33px;
 display: inline-block;
 margin-left: 40px;
 margin-top: 3px;
}

#user-login p {
 display: inline-block;
 position: relative;
 bottom: 10px;
 left: 35px;
}

.grey-head {
 background-color: #E2E2E2;
 height: 60px;
 width: 100%;
}

#lenguage {
 float: left;
 margin: 20px 0px 20px 170px;
 padding-right: 35px;
 border-right: 1px solid #33475B;
}

#lenguage > img {
 width: 14px;
 top: 2px;
 display: inline-block;
 position: relative;
}

#lenguage p {
 display: inline-block;
 left: 15px;
 position: relative;
}

a[href="#ch"] {
 color: #33475B;
 text-decoration: none;
}

#number{
 float: left;
 margin-top: 20px;
 margin-left: 10px;
}

#number p{
 display: inline-block;
}

#search {
 float: right;
 margin: 10px 190px 0px 0px;
}

#search:hover {
 cursor: pointer;
}

#search > img {
 width: 14px;
}

#search p {
 display: inline-block;
 position: relative;
 padding: 9px 23px;
 border: 1px solid black;
 background: #FF7A59;
 color: white;
}

.white-head{
 background-color: white;
 width: 100%;
}

#information-head > img {
 position: relative;
 margin: 15px 0px 15px 165px;
}

#choice {
 float: right;
 margin: 19px 150px 19px;
}

#choice ul li{
 margin-right: 25px;
}

/*Finish of header*/

#first-section {
 background-image: url(../img/sfondo-hub.png);
 width: 100%;
 height: 459px;
 background-size: cover;
}

#text-of-background{
 width: 51%;
 position: relative;
 margin-top: 85px;
 display: inline-block;
 margin-left: 65px;
}

#text-of-background h1 {
 color: rgb(51, 71, 91);
 font-size: 40px;
}

#text-of-background p {
 color: rgb(51, 71, 91);
 margin-top: 30px;
 margin-bottom:50px;
}

a[href="#get"] {
 padding: 26px 48px;
 background-color: #ff7a59;
 border-radius: 6px;
 text-decoration: none;
 color: white;
 font-weight: bold;
}

.container{
 width: 100%;
}

.grey-section{
 background-color: #F4F8FA;
 width: 100%;
 padding-bottom: 110px;
}

#cube {
 padding-bottom: 100px;
 width: 100%;
 position: relative;
 top: 40px;
 text-align: center;
}

#cube > img {
 width: 260px;
}

#cube h2 {
 font-size: 35px;
 color: rgb(51, 71, 91);
 margin-bottom: 20px;
}

#cube p {
 color: #33475B;
}

#white-block {
 width: 85%;
 margin: 0 auto;
}

#first-block {
 width: 100%;
 margin-bottom: 2%;
 background-color: white;
 padding-bottom: 20px;
}

#learn-more-image {
 width: 22%;
 float: left;
 margin-left: 12%;
 margin-top: 3%;
 margin-right: 6%;
 text-align: center;
}

#learn-more-image > img {
 width: 206px;
}

.oran-text{
 background-color: #ff7a59;
 display: inline-block;
 padding: 12px 24px;
 border-radius: 8px;
 color: white;
 font-weight: 600;
}

.oran-text:hover {
 cursor: pointer;
}

#free-hub {
 float: left;
 width: 55%;
 margin-top: 3%;
}

#free-hub h4 {
 font-size: 22px;
 color:rgb(51, 71, 91);
 margin-bottom: 11px;
}

#free-hub p:nth-of-type(1) {
 color:rgb(51, 71, 91);
 font-size: 14px;
}

#free-hub p:nth-of-type(2) {
 color:rgb(51, 71, 91);
 font-size: 13px;
 margin-top: 26px;
 margin-bottom: 15px;
 font-weight: bold;
}

.check li > img{
 width: 18px;
 top: 4px;
 position: relative;
 margin-right: 4px;
}

#free-hub ul li {
 margin-right: 10px;
 color: rgb(51, 71, 91);
}

.float-block {
 float: left;
 width: 30%;
 background-color: white;
 padding-bottom: 35px;
}

.img-text-hubspot {
 width: 80%;
 margin: auto;
 text-align: center;
 border-bottom: 2px solid grey;
 margin-top: 32px;
}

.img-text-hubspot h4 {
 font-size: 25px;
 color:rgb(51, 71, 91);
}

.img-text-hubspot p {
 color:rgb(51, 71, 91);
 font-size: 15px;
 font-weight: 400px;
 line-height: 23px;
 text-align: left;
 margin-top: 14px;
 margin-bottom: 14px;
}

#logo-text-marketing > img {
 width: 150px;
}

.text-with-ul {
 padding-top: 26px;
 width: 80%;
 margin: auto;
 text-align: center;
}

.text-with-ul p:first-child {
 color:rgb(51, 71, 91);
 font-size: 14px;
 font-weight: 600;
 text-align: center;
 margin-bottom: 26px;
}

.vertical li {
 list-style-type: none;
 margin-bottom: 8px;
 text-align: left;
}

.vertical {
 margin-bottom: 25px;
}

#logo-text-sales > img {
 width: 178px;
}

#logo-text-service >img {
 width: 130px;
}

.center {
 margin-left: 5%;
 margin-right: 5%;
}

.light-blue {
 background-color: #00B9A8;
 width: 100%;
 height: 745px;
 padding: 100px 0px;
}

#text-light-blue {
 width: 65%;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 80px;
}

#text-light-blue h3{
 color: white;
 font-size: 23px;
}

#text-light-blue p {
 color: white;
 margin-top: 30px;
}

#table {
 width: 95%;
 margin: 0 auto;
 margin-top: 25px;
}

#top {
 border-bottom: 2px solid white;
}

.border-right {
 width: 25%;
 border-right: 1px solid white;
 float: left;
 padding: 30px;
 text-align: center;
}

.border-right > img {
 margin-bottom: 15px;
}

.border-right h2 {
 font-size: 40px;
 margin-bottom: 5px;
 color: white;
}

.border-right p {
 font-size: 20px;
 color: white;
}

.fourth-cell {
 border-right: 0;
}

.last-section-container {
 background-color: #FFFFFF;
 width: 100%;
 margin-bottom: 100px;
}

.customer-numbers {
 width: 27%;
 float: left;
 margin-left: 10%;
 margin-top: 5%;
 color: rgb(51, 71, 91);
}


.text h2 {
 font-size: 38px;
}

.text p {
 margin-top: 14px;
 margin-bottom: 14px;
 line-height: 24px;
}

.sponsor-container {
 float: right;
 width: 50%;
 margin-top: 10%;
 margin-right: 6%;
}

.sponsor {
 align-items: center;
}

.position {
 float: left;
 width: 25%;
}

.position > img {
 width: 130px;
 padding:20px;
}

.start-growing{
 width: 45%;
 float: left;
 margin-top: 7%;
 margin-left: 10%;
 color:rgb(51, 71, 91);
}

#white-image {
 margin-left: 155px;
 width: 200px;
 margin-top: 60px;
}

footer {
 position: relative;
 background-color: #33475B;
 width: 100%;
 height: 510px;
 padding: 40px 0px 10px 65px;
}

.container-of-footer-list {
 display: inline-block;
 margin-right: 83px;
}

.container-of-footer-list ul li{
 list-style-type: none;
 margin-bottom: 20px;
}

.container-of-footer-list p {
 margin-bottom: 20px;
 color: white;
}

a[href="#foot"] {
 text-decoration: none;
 color: #67798A;
}

.support-hub {
 position: absolute;
 right: 140px;
 top: 290px;
}

a[href="#contact-support"] {
 text-decoration: none;
 background: white;
 padding: 10px 15px;
 border-radius: 5px;
 color: #67798A;
}

.support-hub ul li {
 float: left;
 list-style-type: none;
}

.face{
 width: 13px;
}

.insta {
 width: 21px;
 margin-left: 30px;
}

.youtube {
 width: 26.5px;
 margin-left: 30px;
}

.twitter {
 width: 24px;
 margin-left: 30px;
}

.linkedin {
 margin-left:30px;
 width: 20.5px;
}

.lenguage {
 height: 10%;
 width: 90%;
 margin-top: 110px;
 text-align: center;
 border-bottom: 1px solid white;
}

.len-pos{
 margin-left:  35px;
 text-decoration: none;
 color: #67798A;
}

.logo-copy {
 margin-top: 20px;
 float: left;
}

.legal {
 float: right;
 margin-top: 25px;
 margin-right: 110px;
}

#copy {
 color: #67798A;
}

a[href="#legal"] {
 margin-left: 40px;
 text-decoration: none;
 color: #67798A;
}
